.hbox-style {
  -fx-background-color: linear-gradient(to top, rgba(136, 180, 78, .7), rgba(136, 180, 78, .5));
}
.vbox-style {
  -fx-background-color: rgba(169, 169, 169, 0.5); /* Couleur grise transparente */

  -fx-effect: blur(5px); /* Effet de flou */
}
/* Home.css */

.root {
  -fx-background-color: #f0f0f0;
}

#mainPane {
  -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 2, 2);
}

